#container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#randomDice{
  height:250px;
}
h1{
  font-size: 4em;
  line-height: 0;
}
small{
  line-height: 0;
  font-size: 10px;
  color: red;
  font-weight: bold;
}
#InputNum{
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  background-color: white;
  color: rgb(3, 3, 3);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
button{
  margin-top: 10px;
  padding: 10px 50px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  background-color: #FF0101;
  color: white;
  
}
button:hover{
  transition: 0.5s ease;
  background-color: #e95858;
}

img{
  height:100px;
}
#diceImages{
  text-align: center;
}
#diceResult{
  font-size: 1.5em;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}
